<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header no-border">
      <buttn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </buttn>
    </div>
    <div class="modal-body">
      <div class="approve-one-month-attendances">
        <%= form_with(model: @user, url: one_month_attendances_approve_one_month_attendances_user_path(@user), local: true) do |f| %>
          <% user_id = @one_month_attendance.user_id %>
            <h4>【<%= User.find(user_id).name %>から1ヶ月分勤怠申請】</h4>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                </tr>
              </thead>
              <tbody>
                  <%= fields_for "one_month_attendances[]", @one_month_attendance do |form| %>
                  <tr>
                    <td><%= @one_month_attendance.month.month %>月</td>
                    <td><%= form.select :status, @statuses, { selected: @one_month_attendance.status }, class: "form-control" %></td>
                    <td><%= form.check_box :checked, {}, true, false %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-approve-one-month-attendances" %>
        <% end %>
      </div>
    </div>
  </div>
</div>