<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header no-border">
      <buttn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </buttn>
    </div>
    <div class="modal-body">
      <div class="approve-one-month-attendances">
        <%= form_with(model: @user, url: overtimes_approve_overtimes_user_path(@user), local: true) do |f| %>
            <h4>【<%= @user.name %>から残業申請】</h4>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>指定勤務終了時間</th>
                  <th>時間外時間</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                </tr>
              </thead>
              <tbody>
                <%= fields_for "overtimes[]", @overtime do |form| %>
                  <% overtime = @overtime %>
                  <tr>
                    <% day = overtime.worked_on %>
                    <td><%= l(day, format: :short) %></td>
                    <td class="<%= weekend(day) %>"><%= $days_of_the_week[day.wday] %></td>
                    <td><%= format_will_finish(overtime) %></td>
                    <td><%= format_basic_info(@user.designated_work_end_time) %></td>
                    <td><%= calculate_overtime(overtime, @user.designated_work_end_time) %></td>
                    <td><%= overtime.note %></td>
                    <td><%= form.select :status, @statuses, { selected: overtime.status }, class: "form-control" %></td>
                    <td><%= form.check_box :checked, {}, true, false %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-approve-one-month-attendances" %>
        <% end %>
      </div>
    </div>
  </div>
</div>