<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header no-border">
      <buttn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </buttn>
    </div>
    <div class="modal-body">
      <div class="approve-one-month-attendances">
        <%= form_with(model: @user, url: overtimes_apply_overtime_user_path(@user, date: @overtime.worked_on), local: true) do |f| %>
          <h4>【残業申請】</h4>
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
              </tr>
            </thead>
            <tbody>
              <%= fields_for "overtimes[]", @overtime do |form| %>
              <tr>
                <td><%= l(@overtime.worked_on, format: :short) %></td>
                <td class="<%= weekend(@overtime.worked_on) %>"><%= $days_of_the_week[@overtime.worked_on.wday] %></td>
                <td>
                  <div class="form-inline">
                    <%= form.time_select :will_finish, { include_blank: true}, class: "form-control" %>
                  </div>
                </td>
                <td><%= form.check_box :next_day, {}, true, false %></td>
                <td><%= form.text_field :note, class: "form-control" %></td>
                <td><%= form.collection_select :approver, @superiors, :id, :name, { include_blank: true}, class: "form-control" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-approve-one-month-attendances" %>
        <% end %>
      </div>
    </div>
  </div>
</div>